.upload-page {
  font-family: Arial, sans-serif;
  margin: 15px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.input-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="file"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="file"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 4px rgba(76, 175, 80, 0.4);
}

button.upload-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

.disabled{
  background-color: #4caf50;
  cursor: not-allowed;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 5px;
}

button.upload-button:hover {
  background-color: #45a049;
}

.uploaded-images-list ul {
  list-style-type: none; /* Removes the bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  margin-top: 20px;
}


.uploaded-images-list h2 {
  margin-bottom: 20px;
}

.uploaded-image-item {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.uploaded-image-item a {
  color: #4caf50;
  text-decoration: none;
}

.uploaded-image-item a:hover {
  text-decoration: underline;
}

.uploaded-image-item p {
  font-size: 14px;
  color: #555;
}


/* Modal overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  z-index: 1000; /* Ensure it appears above other elements */
  visibility: hidden; /* Initially hidden */
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

/* Modal visible state */
.modal.show {
  visibility: visible;
  opacity: 1;
}


